# Node modules
node_modules/

# Next.js build output
.next/
out/

# Production build output
dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional: if you use Vercel
.vercel/

# MacOS trash files
.DS_Store

# Editor folders
.vscode/
.idea/

# Other system files
Thumbs.db

